#bar {
   height: 5vh;
   width:99vw;
   background-color: #4d4d4d; 
   position: fixed;
   border-radius: 15px;
   height:auto;
   overflow:hidden;
   

}

 
#title {
    font-size: 200%;
    color: white;
    float: left;
    padding-left: 2%;
    align-self: center;
    
}


#buttons {
    overflow: auto;
    background-color: #4d4d4d;
    height: auto;
    float: right;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    
    
    
}
  #buttons a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  #buttons a:hover {
    background-color: orangered;
    color: black;
  }
  